.banner {
  background-image: url("../assets/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #12528D;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 37rem;
    padding: 4rem 0;
    @include breakpoint($desktop-width) {
      min-height: 41rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    @include breakpoint($desktop-width) {
      margin-bottom: 4rem;
      font-size: 4.2rem;
      line-height: 4.9rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &__order-link {

  }
}
