.purchase-service {
  &__title-wrap {
    margin-bottom: 3rem;
    @include breakpoint($desktop-width) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__section-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #31B5FF;

    svg {
      width: 1.7rem;
      height: 0.9rem;
      fill: currentColor;
      margin-left: 0.7rem;
    }
  }

  &__wrap {
    @include breakpoint($desktop-width) {
      display: flex;
      flex-wrap: wrap;
      margin-top: -2rem;
      margin-right: -2rem;
    }
  }

  &__card {
    margin-bottom: 2rem;
    padding: 2.4rem;
    padding-bottom: 3rem;
    background-color: #F5F5F5;
    border-radius: 8px;
    overflow: hidden;
    @include breakpoint($desktop-width) {
      position: relative;
      width: calc(50% - 2rem);
      margin-right: 2rem;
      margin-top: 2rem;
      padding: 4rem;
      padding-right: 20rem;
      padding-bottom: 5.4rem;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 28rem;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &._customer::after {
        background-image: url("../assets/img/customer.png");
      }
      &._participant::after {
        background-image: url("../assets/img/participant.png");
      }
    }

  }

  &__card-title {
    margin: 0;
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #142330;
    @include breakpoint($desktop-width) {
      margin-bottom: 3.6rem;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 2.4rem;
    padding-left: 1.8rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
    background-image: url("../assets/img/blue-checkmark.svg");
    background-repeat: no-repeat;
    background-position: top .4rem left 0;
    &:last-child {
      margin-bottom: 0;
    }

  }
}
