.social-list {
  display: flex;

  &__item {
    margin-right: 1.8rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #12528D;
    border-radius: 50%;

    svg {
      width: 2rem;
      height: 2rem;
      color: #fff;
      &.tg {
        margin-right: 0.4rem;
      }
    }
  }


}
