<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <h2 class="banner__title">Баннер с призывом к действию</h2>
      <a href="#" class="banner__order-link btn">стать агентом</a>
    </div>
  </div>
</section>
