<header class="header js-header">
  <a href="/" class="header__logo-link">
    <svg class="header__logo-icon"><use xlink:href="assets/sprite.svg#logo"></use></svg>
  </a>
  <nav class="header__nav main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">
          <span>О&nbsp;компании</span>
          <svg class="main-nav__link-icon"><use xlink:href="assets/sprite.svg#chevron-down"></use></svg>
        </a>
        <ul class="main-nav__nested-list">
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Миссия</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Документы</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Банкам</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Агентам</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Фотографии</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Контактная информация</a>
          </li>
        </ul>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">
          <span>Финансовые продукты</span>
          <svg class="main-nav__link-icon"><use xlink:href="assets/sprite.svg#chevron-down"></use></svg>
        </a>
        <ul class="main-nav__nested-list">
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">РКО (ОБС)</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Кредитование</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Факторинг</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Финансирование контрактов</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Зарплатные проекты</a>
          </li>
          <li class="main-nav__nested-item">
            <a href="#" class="main-nav__nested-link">Бухгалтерский учет по контрактам в ГОЗ (раздельный учет)</a>
          </li>
        </ul>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">
          <span>Услуги в&nbsp;сфере закупок</span>
          <svg class="main-nav__link-icon"><use xlink:href="assets/sprite.svg#chevron-down"></use></svg>
        </a>
        <div class="main-nav__double">
          <div class="main-nav__double-section">
            <h3 class="main-nav__double-title">Заказчику</h3>
            <ul class="main-nav__double-list">
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Расчет и обоснование НМЦ</a>
              </li>
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Подготовка закупочной документации</a>
              </li>
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Централизация закупочной деятельности</a>
              </li>
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Организация и проведение закупки, заключение контракта</a>
              </li>
            </ul>
          </div>
          <div class="main-nav__double-section">
            <h3 class="main-nav__double-title">Участнику</h3>
            <ul class="main-nav__double-list">
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Поиск закупок, анализ документации</a>
              </li>
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Подача заявки и участие в закупке, открытие ОБС, заключение контракта</a>
              </li>
              <li class="main-nav__double-item">
                <a href="#" class="main-nav__double-link">Подготовка заявки (включая определение и обоснования состава затрат, включаемых в цену продукции, поставляемых в рамках ГОЗ)</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Аналитические услуги</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="header__lk-link">
    <span class="header__lk-icon"><svg><use xlink:href="assets/sprite.svg#lock"></use></svg></span>
    <span class="header__lk-text">Личный кабинет</span>
  </a>
</header>
