<section class="purchase-service">
  <div class="container">
    <div class="purchase-service__title-wrap">
      <h2 class="purchase-service__title title">Услуги в&nbsp;сфере закупок</h2>
      <a href="#" class="purchase-service__section-link">
        <span>Перейти в раздел</span>
        <svg><use xlink:href="assets/sprite.svg#arrow-right"></use></svg>
      </a>
    </div>
    <div class="purchase-service__wrap">
      <div class="purchase-service__card _customer">
        <h3 class="purchase-service__card-title">Заказчику</h3>
        <ul class="purchase-service__list">
          <li class="purchase-service__item">Расчет и&nbsp;обоснование НМЦ</li>
          <li class="purchase-service__item">Подготовка закупочной документации</li>
          <li class="purchase-service__item">Централизация закупочной деятельности</li>
          <li class="purchase-service__item">Организация и&nbsp;проведение закупки, заключение контракта</li>
        </ul>
      </div>
      <div class="purchase-service__card _participant">
        <h3 class="purchase-service__card-title">Участнику</h3>
        <ul class="purchase-service__list">
          <li class="purchase-service__item">Ускоренная регистрация на&nbsp;АСТ ГОЗ</li>
          <li class="purchase-service__item">Поиск закупок, анализ документации</li>
          <li class="purchase-service__item">Подготовка заявки</li>
          <li class="purchase-service__item">Подача заявки</li>
        </ul>
      </div>
    </div>
  </div>
</section>
