// menu
._menu-open {
  overflow: hidden;

  .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity .3s;
  }

  .header {
    &__menu-open {
      display: none;
    }
    &__menu-close {
      display: block;
    }
  }
}

._main {
  .header {
    &__logo-link {
      color: #12528D;
    }
  }
}

// popup

._popup-open {
  overflow: hidden;
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: $z2;
    }
}

._colored-header {
  .header {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &__logo-link,
    &__menu-toggle {
      color: #12528D;
    }

    &__menu-close {
      stroke: #12528d;
    }

    &__lk-link {
      color: #12528D;
      @include breakpoint($desktop-width) {
        color: #fff;
      }
    }

    .main-nav {
      &__link {
        color: #313131;
      }
      &__link-icon {
        stroke: #313131;
      }

      &__nested-list {
        left: 2rem;
        width: 100%;
        border-radius: 0;
        @include breakpoint($desktop-width) {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }
      }

      &__double {
        left: 0;
        width: 100%;
        border-radius: 0;
        @include breakpoint($desktop-width) {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .tooltip {
    background-color: #12528D;
    color: #fff;
  }
}

._dark-header {
  .header {
    background-color: #23394E;
  }

  .main-nav {
    background-color: #23394E;
    &__item {
      @include hover() {
        .main-nav {
          &__link {
            color: #fff;
          }
          &__link-icon {
            stroke: #fff;
          }
        }
      }
    }

    &__link {
      color: #fff;
    }

    &__nested-list {
      background-color: #23394E;
      left: 2rem;
      width: 100%;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
      @include breakpoint($desktop-width) {
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
      }
    }

    &__double {
      background-color: #23394E;
      left: 0;
      width: 100%;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
      @include breakpoint($desktop-width) {
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
      }
    }

    &__double-section {
      border-color: rgba(#fff, .2);
    }

    &__double-title {
      color: #fff;
      font-weight: 700;
      font-size: 1.8rem;
    }

    &__double-link {
      color: #fff;
    }

    &__nested-link {
      color: #fff;
    }
  }
  .breadcrumbs {
    padding: 1.5rem 0;
    &__link,
    &__link:last-child {
      color: #12528D;
    }

    &__link {
      @include hover() {
        color: #23394E;
      }
    }

    &__arrow::before,
    &__arrow::after {
      background-color: $color-main;
    }
  }

  .tooltip {
    background-color: #12528D;
    color: #fff;
  }
}

._colored-header,
._dark-header {
  .header {
    &__nav {
      top: calc(var(--header-height, 8.3rem) + 1.6rem);
      height: calc(100 * var(--vh, 1vh) - var(--header-height, 8.3rem) - 1.6rem);
      @include breakpoint($desktop-width) {
        height: auto;
      }
    }
  }
}

._resizing {
  * {
    transition: none!important;
  }
}
