.form {
  position: relative;

  &__select {
    @include breakpoint($tablet-width) {
      width: 28rem;
    }
  }

  &__checkbox {
    &._error {
      .form__checkbox-text::before {
        border-color: red;
      }
    }
  }

  &__checkbox-input {
    display: none;

    &:checked + .form__checkbox-text::before {
      background-image: url('../assets/img/blue-checkmark.svg');
      background-size: 1.2rem 1.2rem;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__checkbox-text {
    &::before {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #ADADAD;
      border-radius: 2px;
      margin-right: 2rem;
      vertical-align: bottom;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }

    &._error {
      .form {
        &__text-input,
        &__file-label {
          border-color: red!important;
          color: red;
          &::placeholder {
            color: red;
          }
        }

        &__file-text {
          color: red;
        }
      }
    }

    &._filled {
      .form {
        &__file-label,
        &__text-input {
          border-color: #313131;
          &:focus {
            border-color: #12528D;
          }
        }

        &__file-label {
          padding-right: 3.6rem;
        }

        &__file-text {
          color: #313131;
          &::after {
            display: none;
          }
        }

        &__file-icon {
          display: none;
        }

        &__file-remove {
          display: flex;
        }
      }
    }
  }

  &__text-input {
    padding: 2rem 2.5rem;
    padding-top: 2.3rem;
    font-size: 1.6rem;
    line-height: 1;
    border: 1px solid #ECF2F8;
    background-color: #ECF2F8;
    width: 100%;
    resize: none;
    outline: none;

    &::placeholder {
      color: #979797;
    }
  }

  &__policy {
    font-size: 1.2rem;
    line-height: 1.6rem;
    .form__checkbox-text {
      display: flex;
      &::before {
        margin-top: .2rem;
        margin-right: 1rem;
        flex-shrink: 0;
      }
    }
  }

  &__policy-link {
    text-decoration: none;
    color: #31B5FF;
  }

  &__file-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1.4rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    background-color: #fff;
    border: 1px solid #BBBBBB;
    transition: all .3s;
    border-radius: .3rem;
  }

  &__file-text {
    color: #9A9A9A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::after {
      content: attr(data-default);
    }
  }

  &__file-icon {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
  }

  &__file-remove {
    @include btn-reset();
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke: #12528D;
    }
  }

}
