{% extends 'templates/base.twig' %}

{% block page %}
<section class="about-content">
  <div
    class="about-content__hero"
    style="
      --category-img-mobile: url(../assets/img/about-content-bg_mobile.jpg);
      --category-img-desktop: url(../assets/img/about-content-bg.jpg);
    "
  >
    <div class="container">
      <div class="about-content__hero-inner">
        {% include 'templates/breadcrumbs.twig' %}
        <h1 class="about-content__title">Банкам</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>Подзаголовок второго уровня</h2>
      <video src="assets/img/optimized.mp4" controls></video>
      <p>Если говорить простыми словами, то банковская гарантия – это обещание банка заплатить оговоренную сумму долга за клиента, если тот не сделает этого.</p>
      <p>Предоставление банковской гарантии обеспечивает безопасность сделки для того, кто получит деньги (бенефициара) и сделает возможным сделку для того, у кого проблемы с финансами (принципал).</p>
      <p>До 2015 года выступать гарантом мог только банк, но сегодня в обиход введён новый термин «независимая гарантия». Такое обязательство может взять на себя любая коммерческая организация.</p>
      <h3>Подзаголовок третьего уровня</h3>
      <ul>
        <li>Предоставление банковской гарантии обеспечивает безопасность сделки для того, кто получит деньги (бенефициара) </li>
        <li>Предоставление банковской гарантии обеспечивает безопасность сделки для того, кто получит деньги (бенефициара) </li>
        <li>Предоставление банковской гарантии обеспечивает безопасность сделки для того, кто получит деньги (бенефициара) </li>
      </ul>
    </div>
  </div>
</section>

{% include 'templates/banner.twig' %}

{% endblock %}
