{% extends 'templates/base.twig' %}

{% block page %}
<section class="album">
  {% include 'templates/detail-hero.twig' with {
    title: 'Название альбома',
    text: '23.09.2021',
    bgMobile: 'album.jpg',
    bgDesktop: 'album.jpg',
  } %}


  <div class="container">
  {% set list = [
    {
      img: '1.jpg',
      span: 2,
    },
    {
      img: '2.jpg',
      span: 1,
    },
    {
      img: '3.jpg',
      span: 1,
    },
    {
      img: '4.jpg',
      span: 1,
    },
    {
      img: '5.jpg',
      span: 1,
    },
    {
      img: '6.jpg',
      span: 2,
    },
    {
      img: '7.jpg',
      span: 3,
    },
    {
      img: '8.jpg',
      span: 1,
    },
    {
      img: '9.jpg',
      span: 1,
    },
    {
      img: '10.jpg',
      span: 3,
    },
  ] %}
    <ul class="album__list">
    {% for item in list %}
      <li class="album__item col-{{ item.span }}">
        <a class="album__item-link" data-fslightbox href="assets/img/album/{{ item.img }}">
          <img class="album__item-img" src="assets/img/album/{{ item.img }}" alt="">
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>

</section>

{% endblock %}
