{% extends 'templates/base.twig' %}

{% block title %}Список страниц{% endblock %}

{% block page %}
    {%
      set pagesList = [
        {
            link: 'main',
            title: 'Главная'
        },
        {
            link: 'fin-products',
            title: 'Разводящая - Финансовые продукты'
        },
        {
            link: 'services-customer',
            title: 'Разводящая - Услуги заказчику'
        },
        {
            link: 'services-participant',
            title: 'Разводящая - Услуги участнику'
        },
        {
            link: 'about-content',
            title: 'О компании - контентная (миссия, банкам, агентам)'
        },
        {
            link: 'docs',
            title: 'Документы'
        },
        {
            link: 'gallery',
            title: 'Фотографии'
        },
        {
            link: 'album',
            title: 'Альбом'
        },
        {
            link: 'contacts',
            title: 'Контакты'
        },
        {
            link: 'fin-products-detail',
            title: 'Финансовые продукты - детальная'
        },
        {
            link: 'services-customer-detail',
            title: 'Услуги заказчику - детальная'
        },
        {
            link: 'services-participant-detail',
            title: 'Услуги участнику - детальная'
        },
        {
            link: 'privacy-policy',
            title: 'Политика конфиденциальности'
        },
      ]
    %}

    <div class="container" style="margin-bottom: 100px">
      <h1>{{ block("title") }}</h1>

      <ul>
      {% for item in pagesList %}
        <li style="margin-bottom: 1rem">
            <a href="{{ item.link }}.html">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
