{% extends 'templates/base.twig' %}

{% block page %}
<section class="services-detail">
  {% include 'templates/detail-hero.twig' with {
    title: 'Ускоренная регистрация на АСТ ГОЗ',
    text: 'Процедура регистрация занимает не более 3-х дней (при оперативной работе клиента 1 день), оформим за Вас все необходимые документы, всего за 15 000 рублей (включая стоимость vip net).',
    bgMobile: 'participant.jpg',
    bgDesktop: 'participant.jpg',
    orderBtn: true,
    hight: true,
  } %}

  <div class="container">
    <div class="content _services">
      <h3>Расчет и обоснование начальной максимальной цены в строгом соответствии со ст. 22 44-ФЗ в соответствии со следующими методами:</h3>
      <ul>
        <li>- метод сопоставимых рыночных цен и анализ рынка;</li>
        <li>- тарифный метод;</li>
        <li>- проектно-сметный метод;</li>
        <li>- нормативный метод;</li>
        <li>- затратный метод.</li>
      </ul>
      <p>По государственному оборонному заказу поможем рассчитать цену в соответствии с Постановлением Правительства РФ от 02.12.2017 № 1465.</p>
    </div>
    {% include 'templates/section-nav.twig' %}
  </div>
</section>

{% endblock %}
